@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #2B2B2B;
}
img {
  max-width: 100%;
  height: auto; 
}
.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: .3s;
  background-color: #2B2B2B;
}
.hide {
  opacity: 0;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
 }
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.header {
  margin: 10px 30px;
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-left {
      display: flex;
      align-items: center;
      & a {
        text-decoration: none;
      }
      & h1 {
        margin: 0px 10px 0px 0px;
        color: #ffffff;
      }
      & img {
        width: 40px;
        height: 40px;
      }
    }
    .header-right {
      & a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
main {
  .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: 100%;
      position: fixed;
    .wrapper {
      padding: 110px 25px 50px 25px;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 15px;
      box-shadow: 0 15px 25px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }
  .content-wrapper {
    .content-desc {
      .content-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 10rem;
          height: 10rem;
          border-radius: 5.6rem;
          border: 1px solid rgba(0,0,0,.15);
        }
      }
      .typed-wrapper {
        margin-top: 20px;
        color: white;
        #typed {
          display: inline;
          color: #AFAFAF;
          font-weight: normal;
          font-size: 14px;
          text-align: center;
        }
      }
      .content-name {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        & h2 {
          color: white;
          font-weight: normal;
          font-size: 18px;
        }
      }
    }
  }
  .links-title {
    margin-top: 25px;
    & p {
      color: white;
    }
  }
  .links-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    & a {
      text-decoration: none;
      color: #FAFAFA;
      background-color: rgba(0,0,0,.15);
      text-align: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      line-height: 2.5rem;
      transition: .3s;
      margin: 0.5rem;
      &:hover {
        color: rgba(182, 172, 172, 0.145);
      }
      & span {
        font-size: 25px;
      }
    }
  }
  }
}
@media (max-width: 440px) {
  main .content .wrapper {
    padding: 50px 10px;
  }
}
@media (max-width: 410px) {
  main .content .wrapper {
    padding: 11px 82px;
  }
  main .content .links-buttons {
    flex-direction: column;
    padding: 0px;
    box-shadow: none;
    background-color: inherit;
  }
  main .content .content-wrapper .content-desc .content-name {
    margin-top: 20px;
  }
}
@media (max-width: 340px) {
  main .content {
    display: block;
  }
  main .content .content-wrapper .content-desc .content-avatar img {
    width: 7rem;
    height: 7rem;
  }
}
@media (max-width: 307px) {
  .header {
    opacity: 0;
    pointer-events: none;
    margin: 0;
  }
}
@media (max-width: 280px) {
  main .content .content-wrapper .content-desc .content-avatar {
    display: none;
  }
}
